<%= render partial: 'shared/navbar'%>
<table>
  <thead>
    <% @notes.each do |note|%>
      <tr>
        <th><%= note.title %></th>      
      </tr>
    <%end%>
  </thead>
  <tbody class="txt-fild">
    <%@notes.each do |note|%>
      <th>
        <%= note.text %>
      </th>
    <%end%>
  </tbody>
  <tfoot>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to 'Show', note , class:"btx"%></td>
        <td><%= link_to 'Edit', edit_note_path(note) , class:"btx"%></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } , class:"btx"%></td>
      </tr>
    <% end %>
  </tfoot>
  <br>
</table>

<%= link_to 'New Note', new_note_path, class:"btx"%>


<div class="card">
  <div class="card-header">
    <th><%= note.title %></th>    
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>